<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="roles">
            <h2><span jhiTranslate="aemApp.roles.detail.title">Roles</span> {{ roles.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="aemApp.roles.role">Role</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'aemApp.Role.' + roles.role }}">{{ roles.role }}</span>
                </dd>
                <dt><span jhiTranslate="aemApp.roles.networkMember">Network Member</span></dt>
                <dd>
                    <div *ngIf="roles.networkMemberId">
                        <a [routerLink]="['/network-member', roles.networkMemberId, 'view']">{{ roles.networkMemberId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/roles', roles.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
