<div>
    <h2 id="page-heading">
        <span jhiTranslate="aemApp.roles.home.title">Roles</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-roles" [routerLink]="['/roles/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="aemApp.roles.home.createLabel">
            Create a new Roles
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="roles?.length === 0">
        <span jhiTranslate="aemApp.roles.home.notFound">No roles found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="roles && roles.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="role"><span jhiTranslate="aemApp.roles.role">Role</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="networkMemberId"><span jhiTranslate="aemApp.roles.networkMember">Network Member</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let roles of roles ;trackBy: trackId">
                    <td><a [routerLink]="['/roles', roles.id, 'view']">{{ roles.id }}</a></td>
                    <td jhiTranslate="{{ 'aemApp.Role.' + roles.role }}">{{ roles.role }}</td>
                    <td>
                        <div *ngIf="roles.networkMemberId">
                            <a [routerLink]="['/network-member', roles.networkMemberId , 'view']" >{{ roles.networkMemberId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/roles', roles.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/roles', roles.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(roles)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="roles && roles.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
