<p-table [value]="entities" [customSort]="true">
    <ng-template pTemplate="header">
        <tr jhiSort [predicate]="predicate" (predicateChange)="onPredicateChange($event)"
            [ascending]="ascending" (ascendingChange)="onAscendingChange($event)"
            [callback]="callBack.bind(this)">
            <ng-container *ngFor="let col of fildsNames">
                <th [ngClass]="entitiesFieldsType[col] === FieldsType.IMAGE ? 'col-avatar-wdith' :''"
                    scope="col" jhiSortBy="{{col}}" pSortableColumn="{{col}}">
                    <span jhiTranslate="{{ 'aemApp.structure.'+col }}">{{ col }}</span> <p-sortIcon field="{{ col }}"></p-sortIcon>
                </th>
            </ng-container>
            <th ></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-entity>
        <tr>
            <td *ngFor="let col of fildsNames">
                <ng-container [ngSwitch]="entitiesFieldsType[col]">
                    <ng-container *ngSwitchCase="FieldsType.TEXT">
                        {{ entity[col] }}
                    </ng-container>
                    <ng-container *ngSwitchCase="FieldsType.IMAGE">
                        <img *ngIf="entity[col]" [src]="'data:image/png;base64,' + entity[col]" alt=""/>
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ entity[col] }}
                    </ng-container>
                </ng-container>
            </td>
            <td class="text-right">
                <button pButton pRipple type="button" *ngIf="nameRoute"
                        icon="pi pi-eye" class="p-button-rounded p-button-warning"
                        [routerLink]="['/'+nameRoute, entity.id, 'view']">
                </button>

                <button pButton pRipple type="button" icon="pi pi-pencil" *ngIf="nameRoute"
                        class="p-button-rounded p-button-info"
                        [routerLink]="['/'+nameRoute, entity.id, 'edit']">
                </button>

                <button pButton pRipple type="button" icon="pi pi-trash" *ngIf="nameRoute"
                        class="p-button-rounded p-button-danger"
                        (click)="deleteItem(entity)">
                </button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">

        <div class="pagination-container d-flex justify-content-between">
            <div class="item-count">
                <jhi-item-count [page]="paginationPage" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>

            <ngb-pagination [collectionSize]="totalItems" [(page)]="paginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true"
                            [boundaryLinks]="true" (pageChange)="loadPageDataTable($event)">
                <ng-template ngbPaginationFirst>
                    <button pButton pRipple type="button" icon="pi pi-angle-double-left" class="p-button-rounded p-button-text"></button>
                </ng-template>
                <ng-template ngbPaginationLast>
                    <button pButton pRipple type="button" icon="pi pi-angle-double-right" class="p-button-rounded p-button-text"></button>
                </ng-template>
                <ng-template ngbPaginationPrevious>
                    <button pButton pRipple type="button" icon="pi pi-angle-left" class="p-button-rounded p-button-text"></button>
                </ng-template>
                <ng-template ngbPaginationNext>
                    <button pButton pRipple type="button" icon="pi pi-angle-right" class="p-button-rounded p-button-text"></button>
                </ng-template>
                <ng-template ngbPaginationEllipsis>
                    <button pButton pRipple type="button" label="..." class="p-button-raised  p-button-text">
                    </button>
                </ng-template>
                <ng-template ngbPaginationNumber let-page>
                    <button pButton pRipple type="button" label="{{ page }}" class="p-button-raised p-button-text">
                    </button>
                </ng-template>
            </ngb-pagination>


            <div >
                <p-dropdown *ngIf="showPaginationPageOptions" [options]="options" [ngModel]="itemsPerPage"
                            [showClear]="false" (ngModelChange)="onChangeItemsPerPage($event)">
                </p-dropdown>
            </div>

        </div>
    </ng-template>

</p-table>
