
<aem-breadcrumb></aem-breadcrumb>

<div class="card jh-card">

    <h2 id="page-heading">
        <span jhiTranslate="aemApp.structure.home.title">Networks</span>

        <button pButton pRipple type="button"
                icon="pi pi-plus" label="{{'aemApp.structure.home.createLabel' | translate}}"
                class="p-button-raised float-right"
                [routerLink]="['/network/new']">
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="structures?.length === 0">
        <span jhiTranslate="aemApp.structure.home.notFound">No networks found</span>
    </div>

    <div class="shadow-sm" *ngIf="structures && structures.length > 0">
        <aem-data-table [entities]="structures" [(predicate)]="predicate" [(ascending)]="ascending"
                        (sortCallBack)="loadPage()" [entitiesFieldsType]="structureFieldsType"
                        [nameRoute]="'network'" (onDeleteItem)="delete($event)"
                        [totalItems]="totalItems" [paginationPage]="ngbPaginationPage"
                        [itemsPerPage]="itemsPerPage" (onPageChange)="loadPage($event.page, false, $event.itemsPerPageCount)">

        </aem-data-table>
    </div>

</div>
